.flipcards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

@media (width > 1640px) {
  .section {
    > div.flipcards-wrapper {
      max-width: none;
    }
  }

  .flipcards > ul {
    grid-template-columns: repeat(4, minmax(20pc, 1fr));
    grid-gap: .8889rem;
  }
}

.flipcard p {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.flipcard h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    max-width: 11.1111rem;
}

.flipcard {
  display: flex;
  position: relative;
  width: 100%;
  height: 27.7778rem;

  .flipcard-content {
    position: relative;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d
  }

  &.flipped {
    z-index: 1000;

    .flipcard-content {
      transform: rotateY( 180deg );
      transition: transform .8s cubic-bezier(.39,.575,.565,1), -webkit-trasform .8s cubic-bezier(.39,.575,.565,1)
    }
  }

  .flipcard-front h2 {
    color: white;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
    max-width: 11.1111rem;
    left: 1.6667rem;
    position: absolute;
    top: 1.6667rem;
  }

  .flipcard-front,
  .flipcard-back {
    font-weight: 400;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    font-size: 60px;
    border-radius: .6667rem;
    backface-visibility: hidden;

    .flipcard-back-content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 1.6667rem 1.6667rem 2.5rem;

      > p {
        margin: 0;
      }

      > h2 {
        margin-bottom: 1.9444rem;
      }

      .button-container {
        margin: auto 0 0;
      }

      [data-aue-prop="back_text"] {
        > h2 {
          margin-bottom: 1.9444rem;
        }
      }

      [data-aue-prop="back_description"] {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .action-container {
      bottom: 1.1111rem;
      line-height: 0;
      position: absolute;
      right: 1.1111rem;

      .action {
        align-items: center;
        background: transparent;
        border: 0;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        margin: 0;
      }
    }
  }

  .flipcard-front {
    > picture img {
      height: 100%;
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      border-radius: .6667rem;
    }

    .action-container {
      .action {
        backdrop-filter: blur(30px);
        background-color: hsla(41deg 41% 57% / 85%);
        border-radius: 50%;
        padding: .7222rem;
      }
    }
  }

  .flipcard-back {
    background: var(--background-color);
    transform: rotateY( 180deg );

    > p:first-child {
      font-size: 1.5556rem;
      font-weight: 400;
      line-height: 1.7778rem;
      margin: 0;
      max-width: 11.1111rem;
      left: 1.1111rem;
      position: absolute;
      top: 1.1111rem;
    }

    .action-container {
      top: 1.1111rem;
      right: 1.1111rem;
      display: inline-block;
      position: absolute;

      .action .icon {
        height: 16px;
        width: 16px;
      }
    }
  }
}

.flipcard-overlay {
  background: #091d2f;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity .8s ease;
  width: 100%;
  z-index: 999;

  &.fade-out {
    opacity: 0;
    transition: visibility 0s ease-out .8s, opacity .8s ease-out;
    visibility: hidden;
  }

  &.fade-in {
    opacity: .8;
    transition-timing-function: ease-out;
    visibility: visible;
  }
}
