div.section:has(div.highlight-wrapper) {
    background-color: var(--dark-color);
}

.highlight-wrapper .highlight .highlighted {
    color: var(--gold-color);
}

.highlight-wrapper {
    color: white;
}

.highlight.block {
    display: grid;
    font-size: 18px;
    line-height: 1.778rem;
    gap: 3.111rem 1.667rem;
    grid-template-columns: repeat(2, minmax(390px, 1fr));
    justify-content: space-between;
}

.highlight-section {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    line-height: 3.667rem;
    font-size: 3.222rem;
    margin: 0;
}

.nohighlight {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 2.222rem;
}

@media (width >= 768px) and (width <= 1200px) {
    .highlight.block {
        display: block;
        font-family: AlbraGrotesk-Regular, 'Albra Grotesk', Helvetica, Arial, sans-serif;
        font-size: .889rem;
        font-weight: 400;
        line-height: 1.556rem;
        max-width: 100%;
    }
}

@media (width >= 1280px) {
    .highlight.block {
        grid-template-columns: minmax(635px, 1fr) minmax(465px, 1fr);
    }
}

@media (width >= 1640px) {
    .highlight.block {
        grid-template-columns: minmax(648px, 1fr) minmax(522px, 1fr);
    }
}