.flippable-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.flippable-card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flippable-card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.flippable-card .cards-card-image,
.flippable-card .cards-card-body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.flippable-card .cards-card-body {
  margin: 16px;
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}
