main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  object-position: center center;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Homepage Hero Styles */

.homepage-hero.hero-container {
  background-color: var(--dark-blue);
  padding: 40px 0 5.833rem;
}

.homepage-hero .hero-wrapper {
  margin: 0 auto;
  max-width: 54.22rem;
  width: 100%;
}

.homepage-hero .hero {
  height: 38.611rem;
  margin: 0 auto;
}

.homepage-hero .hero picture {
  z-index: 1;
}

.homepage-hero .hero img {
  border-radius: .666rem;
  object-position: center center;
}

.homepage-hero .caption {
  position: absolute;
  z-index: 2;
  bottom: 6.389rem;
  font-size: 3.889rem;
  line-height: 0;
  right: 4.722rem;
  text-align: right;
  font-weight: 300;
  font-family: var(--heading-font-family);
  color: var(--background-color);
}

@media (width <= 767px) {
  .homepage-hero .hero-wrapper {
    max-width: 20.778rem;
  }

.homepage-hero .hero {
    height: 33.33rem;
  }

  .homepage-hero .hero h1 {
    bottom: 5rem;
    font-size: 3.22rem;
    line-height: 3.55rem;
    right: 2.22rem;
  }

  .homepage-hero .hero img {
    object-position: bottom 0 left 63%;
  }

  .homepage-hero .caption {
    bottom: 5.833rem;
    font-size: 2.778rem;
    right: .889rem;
    text-align: right;
    z-index: 2;
  }
}

@media (width >= 768px) and (width <= 1024px) {
  .homepage-hero .hero-wrapper {
    max-width: 40.889rem;
  }

  .homepage-hero .hero {
    height: 33.33rem;
  }

  .homepage-hero .hero h1 {
    bottom: 5rem;
    font-size: 3.22rem;
    line-height: 3.55rem;
    right: 2.22rem;
  }

  .homepage-hero .hero picture {
    object-position: bottom 0 left 85%;
  }

  .homepage-hero .caption {
    bottom: 5rem;
    font-size: 3.222rem;
    right: 2.222rem;
  }
}

@media (width >= 1280px) and (width <= 1640px) {
.homepage-hero .hero {
    height: 41.667rem;
  }

  .homepage-hero .hero h1 {
    bottom: 8.33rem;
    font-size: 4.44rem;
    line-height: 5rem;
    right: 9.72rem;
  }

  .homepage-hero .caption {
    bottom: 8.333rem;
    font-size: 4.444rem;
    right: 9.722rem;
  }
}

@media (width >= 1640px) {
  .homepage-hero .hero-wrapper {
    max-width: 104.889rem;
  }

  .homepage-hero .hero {
    height: 47.778rem;
  }

  .homepage-hero .hero h1 {
    bottom: 11.38rem;
    right: 16.94rem;
  }

  .homepage-hero .caption {
    bottom: 11.3889rem;
    right: 16.9444rem;
    font-size: 4.444rem;
  }
}