.teaser-container .teaser-wrapper {
  max-width: 1280px;
}

.teaser-wrapper > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.778rem;
  padding-bottom: 18.333rem;
}

.teaser-container  .col1 {
  width: 31.389rem;
}

.teaser-container  .col1 [data-aue-prop='1stcol_title']  {
  font-size: 3.222rem;
  line-height: 3.333rem;
  margin-bottom: 2.778rem;
  margin-top: 0;
}

.teaser-container .col2 {
  flex: auto;
  height: 29.778rem;
  align-self: end;
}

.teaser-container .col2 > div {
  height: 29.778rem;
  width: 45rem;
}

.teaser-container .col2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .333rem;
  box-shadow: 0 2.778rem 3.611rem -.833rem;
}

@media (width <= 1280px) {
  .teaser-container .teaser-wrapper {
    max-width: 45rem;
  }

  .teaser-wrapper > div {
    flex-direction: column;
  }

  .teaser-container .col1 {
    width: 100%;
  }

  .teaser-container .col2 {
    flex: auto;
    height: 29.778rem;
    align-self: end;
  }

  .teaser-container .col2 > div {
    height: 30rem;
    width: 100%;
  }
}