main .carousel-wrapper {
  max-width: none;
  overflow: hidden;
}

.carousel {
  .carousel-item {
    display: flex;
    flex-direction: row;

    .img-container {
      height: 36.667rem;
      width: 35.111rem;

      img {
        border-radius: .333rem;
        box-shadow: 0 2.777rem 3.611rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content-card {
      display: flex;
      padding: 5.556rem 7.5rem 0 3.333rem;
      background: #091d2f;
      color: white;
      flex-direction: column;
      align-items: flex-start;
      border-radius: .333rem;
      height: 36.667rem;
      width: 35.111rem;

      p[data-aue-label='Title'] {
        font-size: 2.111rem;
        line-height: 2.111rem;
        margin-bottom: 1.667rem;
        color: #bea265;
      }

      div[data-aue-label='Text'] p {
        font-size: 1.111rem;
        line-height: 1.778rem;
      }
    }
  }
}
